{:host-name "host name here"
 :db-spec {:classname "driver here"
           :subprotocol "protocol here"
           :subname "connection string here"
           :user "db username here"
           :password "db password here"}}